.navbar{
    margin-bottom: 0px;
    a{
    color: set-text-color($main-color) !important;
    }

    .fa{
        font-size: 18px;
    }
}
.showcase{
    background: url(../img/showcase.jpeg) no-repeat 0 -600px;
    height:500px;
    padding: 40px 0;

    h1{
        font-size: 40px;

    }
    .container{
        background: #fff;
        opacity: 0.8;
        padding: 20px,30px,30px,30px;
    }
    .btn{
        position: relative;
        top: -5px;
        
    }
}
.section-a{
    padding: 30px 0;
    text-align: center;
    background: $main-color;
    color: set-text-color($main-color);
   .fa{
       font-size: 60px;
   }
}
.section-b{
    background:#e6ebf1;
    padding: 30px,0;
    img{
        width: 100%;
        position: relative;
        right: -110px;
    }
}
.panel-heading h4{
    color: set-text-color($main-color);
}
.section-c{
    padding: 60px, 0;
    text-align: 40px;
    background: $main-color;
    color: set-text-color($main-color);
    
    .btn-primary{
        background: darken($main-color, 10%);
    }
}
.title-bar{
    background: url(../img/showcase.jpeg) no-repeat 0 -300px;
    padding-bottom: 10px;
    border-bottom:4px solid $main-color;
}
.main{
    margin-top:30px;
}
footer{
    padding:30px 0;
    background: darken($main-color, 10%);
    color: set-text-color($main-color);
}