<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list inset>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item.text }}
  </button> 
  </ion-list>
  
</ion-content>
