*{
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
    font-size: 17px;
    color: #126236;
    line-height: 1.6;
}
#showcase{
 background-image: url('../img/showcase.jpg');
 background-size: cover;
 background-position: center;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding: 0 20px;
}

#showcase  h1{
    font-size: 50px;
    line-height: 1.2;
    
}
#showcase p{
    font-size: 20px;

}
#showcase .button{
    font-size: 18px;
    color: #126236;
    border: #126236 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button:hover{
    background: #126236;
    color: #fff;
}
#section-a{
    padding:20px;
    background: #126236;
    color: #fff;
    text-align: center;
}
#section-b{
    padding:20px;
    background: #126236;
    color: #fff;
    text-align: center;
}

#section-c{
    display: flex;

}
#section-c div{
    padding: 20px;
}
#section-c .box1, #section-c .box3{
    background: #126236;
    color: #fff;
}