<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav>
    <a routerLink= "home" routerLinkActive ="active">Home</a>
    <a routerLink= "about">About</a>
    <a routerLink= "dashbooard">Dashboard</a>
  </nav>
  <router-outlet></router-outlet>
</div>

