*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
 header{
    height: 100vh;
    background-color:#E0DFDB;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
    

}
main {
    height: 100vh;
    background-color: white;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}
header nav{
    position: absolute;
    right: 10%;
    top:3%;
    font-size: 4rem;
}
header hgroup{
    position: absolute;
    top: 15%;
    left:10%;
    text-transform: uppercase;
    z-index: 1;

}
header h1{
    font-size: 5rem;
}
header h3{
    font-size: 3rem;
    font-weight: 400;
}
#arrow {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0px -5px 0 black, 0 -10px 0 black;
    overflow: hidden;
    transition: 1s;
    
}
#arrow:hover{
    text-shadow: 0px -5px 0 white, 0 -10px 0 white;
    color: white;
    border-color: white;
    background-color: black;
}
.fa-angle-down{
    animation: arrow 1.4s infinite linear;
}
@media (orientation: portrait){
    h3 span::after{
        content: '\A';
        white-space: pre;
    }
}
@media (orientation: landscape){

    header img{
        height:130%;
        right:50%;

    }

    }
@keyframes arrow{

     0% {
         transform:translateY(-80px)
          }
     50% {
         transform:translateY(0px)
     }
     100% {
         transform:translateY(80px)
     }

    }
